@use '../abstract/colors' as *;
@use '../abstract/breakpoints' as *; 
@use '../abstract/functions' as *;
@use "../abstract/fonts" as *;


.img-fluid{
    width: 100%;
    height: auto;
}
.img-cover{
    width:100%;
    object-fit:cover;
}

.text-primary{
    color:$clr-primary;
}
.text-secondary{
    color:$clr-secondary;
}

.clr-g-10{
    color:$clr-grey-10;
}

.text-center{
    text-align:center;
}
.text-left{
    text-align:left
}
.text-white{
    color:$clr-white-100;
}
.text-lightgray{
    color:$clr-light-grey;
}
.text-uppercase{
    text-transform:uppercase;
}
.text-capitalize{
    text-transform: capitalize;
}
.text-lowercase{
    text-transform: lowercase;
}
.text-underline{
  text-decoration: underline;   
}
.overflow-hidden{
    overflow:hidden;
}

.bg--primary{
    background: $clr-primary;
}
.bg--secondary{
    background: $clr-secondary;
}
.bg-light-dark{
    background: $clr-light-dark !important;
}

.section-heading{
    margin: 0 auto;
    text-align: center;
    font-family: $ff-light;
    font-weight: 300;
}

.h-divider{
    background: $clr-grey-50;
}

.divider{
    height: 1px;
    width: 100%;
    background-color: $clr-divider;
}

.ff-medium{
    font-family: $ff-medium;
    font-weight: 500;
}
.ff-light{
    font-family: $ff-light;
    font-weight: 300;
}

.fz-18{
    font-size: rem(16);

    @include breakpoint-sm{
        font-size: rem(18);  
    }
}
.order--1{
    order:1;
}

.order--2{
    order:2;

    @include breakpoint-sm{
        order:1;
    }
}

.radial-gradient{
    background-image: radial-gradient(circle at 50% 50%, $clr-grey-30, $clr-primary 56%);
}
