@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;

.btn{
    display: inline-block;
    outline:none;
    border:none;
    font-size:rem(14);
    padding:em(8) em(28);
    padding: 0.5em 1.8em;
    color:$clr-lighter-dark;
    @include border-radius(21px);
    @include transition(all, 0.5s, ease-in-out);

    @include breakpoint-sm{
        font-size:rem(16);
    }
    &:hover{
        cursor: pointer;
    }
}

.btn--primary{
    background-color:$clr-white-100;
    border: 1px solid $clr-border;
    color:$clr-light-dark;
}

.btn--secondary{
    background:transparent;
    font-family:$ff-light;
    font-weight: 300;
    font-size: rem(16);
    padding-inline:0;
    display: inline-flex;
    align-items: center;
    gap: rem(20);
    justify-content: center;
    @include breakpoint-md{
        font-size: rem(18);
    }
    &:hover{
        @include transform-x(5px);
    }

    // &:nth-child(2){
    //     position: relative;
    //     &::after{
    //         position: absolute;
    //         content: '';
    //         width: 34px;
    //         height: 34px;
    //         left: 0;
    //         @include border-radius(50%);
    //         background: $clr-secondary;
    //         z-index: -1;
    //         right: calc(100% - 16px);
    //     }
    // }
}

.btn-tertiary{
    background: $clr-primary;
    color:$clr-white-100;
    border: solid 1px $clr-border;
    &:hover{
        background: $clr-white-100;
        color:$clr-primary;
        border-color: $clr-primary;
    }
}