@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.footer__link,
.header__mobile-link{
    position: relative;
    display: inline-block;
    @include transition(0.5s, ease-out);

    &::before{
        content:"";
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 1px;
        background: $clr-secondary;
        @include transition(0.5s, ease-in-out);
        transform:scaleX(0);
        transform-origin: left;
    }
    
    &:hover{
        color:$clr-secondary;
    
        &::before{
            transform:scaleX(1);
        }
    }
}

.header__mobile-link.active{
    color:$clr-secondary;
    &::before{
        transform:scaleX(1);
    }
}

.footer__socials-link{
    @include flex-center;
    padding: em(6);
    width: 34px;
    height: 34px;
    @include border-radius(50%);
    background: transparent;
    @include transition(all, 0.4s, ease-out);
    &:hover{
        // background: $clr-primary;
        background: $clr-secondary;
        svg{
            transform:scale(1.2);
            path{
                fill:$clr-primary !important;
            }
        }
    }
}

.contact__socials-link{
    @include flex-center;
    padding: em(6);
    width: rem(34);
    height: rem(34);
    @include border-radius(50%);
    background: transparent;
    @include transition(all, 0.4s, ease-out);

    &:hover{
        background: $clr-primary;
        svg path{
            fill:$clr-white-100;
        }
    }
}