@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;

.hamburger{
    position: relative;
    transition-duration: 0.5s;
    @include flex-center;
    gap:rem(32);
    .bar{
      @include bar(2px, 25px);
      right: 0;

      @include breakpoint-sm{
        @include bar(2px, 25px);
      } 
      &::before{
        @include bar-before(2px, 25px, -8px);

        @include breakpoint-sm{
          @include bar-before(2px, 25px, -8px);
        }
      }
      &::after{
        @include bar-before(2px, 34px, 8px);
        right: 0;
      }
    }
    .bar-white{
        background: $clr-primary;
        &::before, &::after{
          background: $clr-primary;
        }
        &.sticky{
            background-color:$clr-white-100;
            &::before, &::after{
              background-color:$clr-white-100;
            }
        }
    }
    .menu__text-1{
      display: none;
      @include transition(0.5s, ease-out);
      @include breakpoint-md{
        display: block;
      }
    }
    // .menu__text-2{
    //   margin-top: 0 !important;
    //   display: none;
    //   @include transition(0.5s, ease-out);
    // }
    
    // &.open {
    //   z-index: 999;
    //   .bar{
    //     transition-duration: 0.5s;
    //     background: transparent;
    //     &::before{
    //       transform: rotateZ(45deg) scaleX(1) translate(6px, 6px);
    //     }
    //     &::after{
    //       transform: rotateZ(-45deg) scaleX(1) translate(6px, -6px);
    //       width: 28px;
    //     }
    //   }
    //   .menu__text-1{
    //     display: none;
    //     @include transition(0.5s, ease-out);
    //   }
    //   .menu__text-2{
    //     @include breakpoint-md{
    //       display: block;
    //       @include transition(0.5s, ease-out);
    //     }
    //   }
    // }

    &:hover {
      cursor: pointer;
    }
  }
  

.menu__text-2{
  display: none;
  @include transition(0.5s, ease-out);
  @include breakpoint-md{
    display: block;
  }
}