@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;

.hamburger{
    position: relative;
    transition-duration: 0.5s;
    @include flex-center;
    gap:rem(32);
    
    // display: block;

    .bar{
      @include bar(3px, 25px);
      @include breakpoint-sm{
        @include bar(3px, 30px);
      }
      
      &::before{
        @include bar-before(3px, 25px, -8px);

        @include breakpoint-sm{
          @include bar-before(3px, 30px, -9px);
        }
      }
      &::after{
        @include bar-after(3px, 25px , 8px);

        @include breakpoint-sm{
          @include bar-before(3px, 30px, 9px);
        }
      }
    }
    .bar-white{
        background: $clr-primary;
        &::before, &::after{
          background: $clr-primary;
        }
        &.sticky{
            background-color:$clr-white-100;
            &::before, &::after{
              background-color:$clr-white-100;
            }
        }
    }
    .menu__text-1{
      display: none;
      @include transition(0.5s, ease-out);

      @include breakpoint-md{
        display: block;
      }
    }
    .menu__text-2{
      margin-top: 0 !important;
      display: none;
      @include transition(0.5s, ease-out);
    }
    
    &.open {
      z-index: 999;
      .bar{
        transition-duration: 0.5s;
        background: transparent;
        
        &::before{
          transform: rotateZ(45deg) scaleX(1) translate(6px, 6px);
        }
        &::after{
          transform: rotateZ(-45deg) scaleX(1) translate(6px, -6px);
        }
      }
      .menu__text-1{
        display: none;
        @include transition(0.5s, ease-out);
      }
      .menu__text-2{
        @include breakpoint-md{
          display: block;
          @include transition(0.5s, ease-out);
        }
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  