@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


//?--------- Hero Styles Start ---------
.about-hero{
    &__top{
        background-color: $clr-white-50;
        padding-block: em(156) em(156);

        @include breakpoint-md{
            padding-block: em(176) em(214);
        }
        @include breakpoint-lg{
            padding-block: em(198) em(314);
        }
    }
}
//?--------- Hero Styles End ---------


//?--------- Company  Styles Start ---------
.company{
}
//?--------- Company  Styles End ---------


//?--------- Marquee Styles Start ---------
.marquee{

    &__container{
       @include flex-center;
        padding-block: em(16);
        overflow: hidden;
    }
    &__text{
        font-family: $ff-light;
        color: $clr-primary;
        position: relative;
        letter-spacing: 0.5px;
        white-space: nowrap;
        padding: 0 4rem;
        font-size: clamp(4.4rem, 6.8vw + 1rem, 12rem) !important;
        @include animation(marquee-text, 10s, linear, infinite);

        &::after{
            content:"-";
            margin-left: rem(24);
            @include breakpoint-sm{
                margin-left: rem(44); 
            }
            @include breakpoint-md{
                margin-left: rem(64); 
            }
            @include breakpoint-lg{
                margin-left: rem(84); 
            }
            @include breakpoint-xl{
                margin-left: rem(124); 
            }
        }
       @include keyframes(marquee-text){
        from { @include transform-x(-100%); }
        to { @include transform-x(0); }
       }
    }
}
//?--------- Marquee Styles End ---------


//?--------- Team Styles Start ---------
.team{
    &__imgWrapper{
        background: $clr-primary;
        height: rem(464);
        padding: rem(16);
    }
    &__details{
        display: inline-block;
    }
}
//?--------- Team Styles End ---------


//?--------- Our Values Styles Start ---------
.values{
    background-color: $clr-light-dark;
    &__headingWrapper{
        display: flex;
        align-self:flex-start;
        &.sticks{
            position: sticky;
            position: -webkit-sticky;
            top: 0;
        }
    }
    &__bottom{
        padding-block:em(150);
        text-align: center;

        @include breakpoint-md{
            padding-block: em(200) em(130);
            text-align: left;
        }
        @include breakpoint-lg{
            padding-block: em(240) em(130); 
        }
    }
    &__counting{
        h3{
            @include flex-center-vertical;
            justify-content: space-between;
            position: relative;

            &::after{
                content: "";
                position: absolute;
                width: 1px;
                height: rem(76);
                background: $clr-grey-10;
                top: 70px;
                left: 50%;
                @include breakpoint-md{
                    width: rem(76);
                    height: 1px;
                    margin-left: rem(90);
                    left: 50%;
                    top: 50%;
                }
            }
            &.visible{
                @include transition(color, 1s , ease-out);
                color:$clr-white-100;
                opacity: 1;

                &::after{
                    background: $clr-white-100;
                    opacity: 1;
                }
            }
        }
    }
    &__detailsWrapper{
        @include flex-center;
        flex-wrap: wrap;
        opacity: 0.2;
        @include breakpoint-md{
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: nowrap;
            gap: 13rem;
        }
        &.visible{
            @include transition(color, 1s , ease-out);
            opacity: 1;
        }
    }
    &__details{
        margin-top: rem(120);
        @include breakpoint-md{
            margin-top: 0;
        }
        h2{
            margin-top: rem(-10);
        }
        p{
            margin-top: 0;
        }
    }
}
//?--------- Our Values Styles End ---------


//?--------- Join-Us Values Styles Start ---------
//?--------- Join-Us Values Styles End ---------


//?--------- Counter Styles Start ---------
.counter{
    h1{
        font-weight: bold;
        font-family: $ff-medium;
    }
    p{
        color:$clr-gey-75;
    }
    &__top {
        h1{
            font-size: clamp(4.4rem, 6.8vw + 1rem, 12rem) !important;
        }
    }
    &__number{
        &::after{
            content:"+"
        }
    }
    &__bottom{
        margin-top: rem(48) !important;
        color: $clr-grey-10;
        @include breakpoint-sm{
            margin-top: 0 !important; 
        }
        @include breakpoint-lg{
            margin-top: rem(96) !important;
        }
        h1{
            font-size: clamp(3.6rem, 4.175vw + 1rem, 8rem) !important;
        }
    }
}
//?--------- Counter Styles End ---------


.btn__wrapper{
    @include full-dimensions;
   @include flex-center-vertical;
    justify-content: flex-start;
    margin-top: rem(16);
  
    @include breakpoint-lg{
        align-items:flex-end;
        justify-content: flex-end;
    }
}

