@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


//?--------- Hero Styles Start ---------
.hero{
    background-color: $clr-primary;
    background-color: #161616;

    &__container{
        background-image: url("../../../app/assets/images/hero-bg-pattern-1.webp");
        background-repeat: no-repeat;
        // background-position: right center;
        background-position: right 100%;
    }
    &__footer{
        // border-top: 1px solid $clr-grey-50;
    
        &-list{
            @include flex-center-vertical;
            flex-wrap: wrap;
            justify-content: space-between;
            box-sizing: border-box;
            row-gap: rem(16);
            @include breakpoint-sm{
                gap:rem(56);
                justify-content: flex-start;
            }
            @include breakpoint-md{
                gap:rem(64);
            }
            @include breakpoint-lg{
                gap:rem(84);
            }
            @include breakpoint-xl{
                gap:rem(150);
            }
        }
        &-link{
            color:$clr-white-100 ;
            font-size: rem(16);
            letter-spacing: -0.64px;
            font-family: $ff-medium;
            @include transition(0.4s, ease-in-out);
            @include breakpoint-sm{
                font-size: rem(18);
            }
            @include breakpoint-sm{
                font-size: rem(20);
            }
            &.active{
                color: $clr-secondary;
            }
            &:hover{
                color: $clr-secondary;
            }
        }
    }
}
.h-divider{
    background: $clr-grey-50;
}
//?--------- Hero Styles End ---------


//?--------- Work Styles Start ---------
.work{

    &__figcaption{
        @include breakpoint-md{
            @include flex-space-between;
        }
    }
    &__figure{
        img{
            @media only screen and (max-width:36em){
                height: rem(280);
                object-fit: cover;
            }
        }
    }
    &__left{
        p{
            font-size: rem(18);
            font-family: $ff-light;
            font-weight: 300;
            @include breakpoint-md{
                font-size: rem(20);
            }
        }
    }
    &__right{
        @include flex-center-vertical;
        flex-wrap: wrap;
        gap: rem(12);
        margin-top: rem(26);
        @include breakpoint-md{
            @include flex-center;
            flex-wrap: nowrap;
            gap: rem(16);
            margin-top: 0;
        }
    }
}
//?--------- Work Styles End ---------


//?--------- About Styles Start ---------
.about-home{
    overflow: hidden;
    &__figure{
        height: 432px;
        background-color: $clr-secondary;
    }
}
//?--------- About Styles End ---------


//?--------- Services Styles Start ---------
.services{

    &__heading{
        font-family: $ff-light;
        text-transform: capitalize;
    }

    &__categoriesWrapper{
        border-bottom: 1px solid #d6d6d6;
        padding-bottom: em(72);
        
    }
    &__category{
        @include  flex-center-vertical;
        gap:rem(20);
        font-family: $ff-regular;
        font-weight: 400;
        @include breakpoint-sm{
            gap:rem(30);
        }
        @include breakpoint-md{
            gap:rem(40);
        }
    }
}
//?--------- Services Styles End ---------


//?--------- Testtimonials Styles Start ---------
.testimonials{

    &__heading{
        font-size:rem(64);
        font-weight: 700;
        color: $clr-white-30;
        position: relative;
        z-index: -1;
        top: 11px;
        margin-inline:0px !important;

        @include breakpoint-sm{
            font-size:rem(120); 
        }
        @include breakpoint-md{
            font-size:rem(150); 
            top: -4px;
        }
        @include breakpoint-lg{
            font-size:rem(190); 
            top: -10px; 
        }
        @include breakpoint-xl{
            font-size:rem(268);
            top: -26px; 
        }
        @include breakpoint-xxl{
            font-size:rem(268);
            top: -20px; 
        }
    }
    &__bottom{
        background-color: $clr-light-dark;
        figure{
            @include flex-center-vertical;
            gap: 2rem;
        }
    }
    &__thumbnail{
        width: rem(80);
        height: rem(80);
        @include border-radius(50%);
        @include breakpoint-sm{
            width: rem(90);
            height: rem(90);
        }
        @include breakpoint-md{
            width: rem(100);
            height: rem(100);
        }
        img{ width: 100%; }
    }
    &__name{
        font-size: rem(18);
        @include breakpoint-md{
            font-size: rem(20);
        }
    }
}
//?--------- Testtimonials Styles End ---------


//?--------- FAQs Styles Start ---------
.faq{
    font-family: $ff-regular;
    font-size:rem(18);

    &__wrapper{
        @include breakpoint-sm{
            padding-inline:2rem;
        }
        @include breakpoint-md{
            padding-inline:4rem;
        }
        @include breakpoint-lg{
            padding-inline:8rem;
        }
        @include breakpoint-xl{
            padding-inline:12rem;
        }
        @include breakpoint-xxl{
            padding-inline:16rem;
        }
    }
    &__summary{
        list-style: none;
       @include flex-center-horizontal;
       gap:rem(48);
        font-size:rem(24);
        @include transition(all, 0.4s, ease);
        cursor: pointer;

        @include breakpoint-sm{
            justify-content: space-between;
        }
        &::-webkit-details-marker{
            display: none;
        }
        &::after{
            content: "\002B";
            font-size: rem(26);
        }
        &:hover{
            color:$clr-secondary;
        }
    }

    &__details{
        border-bottom: 1px solid  $clr-white-20;
        padding-block: em(26);
        @include breakpoint-sm{
            padding-block: em(32);
        }
        @include breakpoint-md{
            padding-block: em(36);
        }
        @include breakpoint-lg{
            padding-block: em(42);
        }
        @include breakpoint-xl{
            padding-block: em(48);
        }
    }
}

.faq__details[open] .faq__summary{
    margin-bottom: .5em;
    color:$clr-secondary;
}

.faq__details[open] .faq__summary:after{
  content: "\00D7";
  font-size: rem(26);
}

.faq__details[open] p{
  font-family: $ff-light;
  line-height: 2;
  text-transform: capitalize;
}
//?--------- FAQs Styles End ---------


//?--------- COntact Styles Start ---------
.contactShine{
    padding-block:em(170);
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color:$clr-grey-10;
    background-color: $clr-primary;
}

//?--------- COntact Styles End ---------
