@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.company{
    &__details{
        padding-block: rem(76);
    }
}

//? Process style start
.process{

    &__container{
        padding-block: em(80);
        text-align: center;
        background-color: $clr-dark;

        @include breakpoint-sm{
            padding-block: em(120);
        }
        @include breakpoint-md{
            padding-block: em(160);
        }
        @include breakpoint-lg{
            padding: em(168) em(225) em(250);
        }
        @include breakpoint-xl{
            padding: em(168) em(426) em(284);
        }
    }
    &__heading{
        margin-bottom: -100px;
        position: relative;
        z-index: -1;        
        h1{
            font-family: $ff-regular;
            font-size: rem(108);
            line-height: 1.3;
            text-align: center;
            color: $clr-white-30;

            @include breakpoint-sm{
                font-size: rem(148);
            }
            @include breakpoint-md{
                font-size: rem(188);
            }
            @include breakpoint-lg{
                font-size: rem(228);
            }
            @include breakpoint-xl{
                font-size: rem(268);
            }

        }
    }
    &__content{
        h1{
            font-size: rem(60);
            font-family: $ff-medium;
            line-height: 1;

            @include breakpoint-md{
                font-size: rem(80);
            }
            @include breakpoint-lg{
                font-size: rem(100);
            }
            @include breakpoint-xl{
                font-size: rem(120);
            }
        }
        p{
            color:$clr-white-100;
            text-transform: capitalize;
            font-family: $ff-light;
        }
    }
}
//? Process style end


// Our Services style start
.ourServices{

    &__heading{
        font-size: rem(56);
        font-family: $ff-medium;
        line-height: 1.2;

        @include breakpoint-sm{
            font-size:rem(72);
            line-height: 1.15; 
        }
        @include breakpoint-md{
            font-size:rem(84);
            line-height: 1.1;  
        }
        @include breakpoint-xl{
            font-size:rem(120); 
            line-height: 1;
        }
    }
    p{
        font-family: $ff-light;
        text-transform: capitalize;
    }
    &__second{
        border-top:1px solid $clr-black;
        border-bottom:1px solid $clr-black;
    }
    &__title{
        cursor: pointer;
        &:hover{
            color:$clr-secondary;
        }
    }
}
// Our Services style end