@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.benefits{
    position: relative;
    margin-top: 0 !important;
    &::after{
        content: url("../app/assets/images/white-pattern.webp");
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: -1;
    }
}

.webDesign{
    padding-top: em(115);
    padding-bottom: em(84);
    background-color: $clr-secondary;
    &__figure{
        img{
            object-fit:cover;
            mix-blend-mode: darken;
        }
    }
    &__top{
        padding-top: em(128);
        padding-bottom: em(227);
        border: solid 1px $clr-grey-10;
        background-color: $clr-primary;
        display: none;
        @include breakpoint-sm{
            display: block;
        }
    }
    &__process{
        margin-top: rem(48);
        @include breakpoint-md{
            margin-top: rem(80);
        }
        @include breakpoint-lg{
            margin-top: 0;
        }
        @media only screen and (max-width: 576px){
            @include flex-center;
            flex-direction: column;
            gap: 4rem;
        }
    }
    &__circle{
        @include dimensions(130px, 130px);
        @include border-radius(50%);
        object-fit: contain;
        border: solid 1px $clr-white-20;
        @include flex-center;
        @include transition(background, 0.5s, ease-out);
        @include breakpoint-sm{
            @include dimensions(227px,227px);
        }
        @include breakpoint-md{
            @include dimensions(257px,257px);
        }
        @include breakpoint-lg{
            @include dimensions(287px,287px);
        }
        &:hover{
            cursor: pointer;
            background: $clr-secondary;
            h4{
                color:$clr-primary;
            }
        }
    }
    &__bottom{
        @include flex-center;
        flex-direction: column;
        gap: 70px;
        @include breakpoint-sm{
            gap: 110px;
            flex-direction: row;
        }
        @include breakpoint-md{
            gap: 130px;
        }
        @include breakpoint-lg{
            gap: 150px;
        }
        @include breakpoint-xl{
            gap: 170px;
        }
    }
}

.analyse{
    @include flex-center;
    animation-delay:0.3s;
}

.design{
    position: relative;
    animation-delay:0.6s;
    &::after,
    &::before{
        content: '';
        position: absolute;
        width: 1px;
        height: rem(72);
        background-color: $clr-white-20;
        @media only screen and (max-width:36em){
            left: 50%;
        }
    }
    &::after{
        top: -72px;
        right: 0;
        @include transition(background-color, 0.35s, ease-out);
        @include breakpoint-sm{
            height: 115px;
            transform: rotate(35deg);
        }
        @include breakpoint-md{
            height: 124px;
        }
        @include breakpoint-lg{
            height: 130px;
        }
    }
    &::before{  
        bottom: -71px;
        @include transition(background-color, 0.8s, ease-out);

        @include breakpoint-sm{
            width: 118px;
            height: 1px;
            top: 65%;
            right: -50%;
            transform: rotate(10deg);
        }
        @include breakpoint-md{
            width: 138px;
            right: -52%;
        }
        @include breakpoint-lg{
            width: 158px;
            right: -53%;
        }
        @include breakpoint-xl{
            width: 177px;
            right: -60%;
        }
    }
    &:hover{
        cursor: pointer;
        &::after{
            background-color:$clr-secondary;
        }
        &::before{
            background-color:$clr-secondary;
        }
    }
}

.code{
    margin-top: 0px;
    animation-delay:0.9s;

    @include breakpoint-sm{
        margin-top: 40px;
    }
    @include breakpoint-md{
        margin-top: 60px;
    }
    @include breakpoint-lg{
        margin-top: 80px;
    }
    @include breakpoint-xl{
        margin-top: 100px;
    }
}


.webDesign--mobile{
    padding-block: em(200);
    border: solid 1px $clr-grey-10;
    background-color: $clr-primary;
    @include breakpoint-sm{
        display: none;
    }
}

.process__heading{
    &:hover{
      h1{
        color:$clr-secondary;
      }
    }
}