@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.arrow-down-btn{
    background: $clr-secondary;
    width: rem(54);
    height: rem(54);
    border:1px solid transparent;
    @include border-radius(50%);
    @include transition(all, 0.3s, ease-out);
    position: relative;
    &:hover{
        cursor: pointer;
        border-color: $clr-primary;
        animation: circular-border 1s linear forwards infinite;
        svg{
            path{
                @include transition(all, 0.3s, ease-out);
                animation:svg-animate 1s linear forwards infinite;
            }
        }
    }
    @include keyframes(svg-animate){
        0%{
            transform:translateY(0);
        }
        50%{
            transform:translateY(120%);
        }
        100%{
            transform:translateY(0);
        }
    }
    @include keyframes(circular-border){
        0% {
            border-width: 1px;
        }
        50% {
            border-width: 4px;
        }
        100% {
            border-width: 1px;
        }
    }
    @include breakpoint-sm{
        width: rem(64);
        height: rem(64);
    }
    @include breakpoint-md{
        width: rem(74);
        height: rem(74);
    }
    @include breakpoint-lg{
        width: rem(84);
        height: rem(84);
    }
}