@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.header{
    position: fixed !important;
    top:0v !important;
    width: 100%;
    padding-block:em(16);
    @include transition(all, 0.4s, ease-out);
    z-index: 3;
    &.sticky{
        background-color: $clr-primary;
        color:$clr-white-100;
        z-index: 3;
        top:-1px;
        padding-block:em(8);
    }
    &__wrapper{
        @include flex-space-between;
    }
    &__mobile{
        position: fixed !important;
        inset:0 !important;
        z-index: 99;
        width: rem(240);
        max-width: 100%;
        height: 100vh;
        background: $clr-primary;
        color: $clr-white-100;
        @include flex-center-vertical;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        left: -100%;
        @include breakpoint-sm{
            width: rem(360);
        }
        @include breakpoint-md{
            width: rem(380);
        }
        @include transition(all, 0.3s, ease-out);
        &.open{
            overflow: hidden;
            opacity: 1;
            visibility: visible;
            @include transition(left, 0.3s, ease-out);
            left: 0;
        }
        &-list{
            width: 100%;
            @include flex-center;
            flex-direction: column;
            gap:rem(40);
            margin-top:rem(48);
        }
    
        &-link{
            color: $clr-white-100;
            font-size: rem(18);
        }
    }
    &__logo{
        @include flex-center;
        img{
            display: flex;
        }
    }
}

@media only screen and (max-width:36em){
    .header__logo{
        img{
            width: rem(160);
        }
    }
}

// Header Transparent
.header-tranparent{
    background:$clr-white-50;
}

.overlay{
    position: fixed !important;
    inset: 0 !important;
    width: 100%;
    height: 100vh;
    background-color: $clr-bglightDark;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index: 1;
    display: none;
    &.active{
        display: block;
    }
}

// .fixed-position {
//     overflow: hidden;
//     height: 100vh;
//  }

