// --------- ProductSans Light -------------
@font-face{
    font-family:"productSans-light";
    src:url("../../../app/assets/fonts/productSans-light/productSans-light.eot");
    src:url("../../../app/assets/fonts/productSans-light/productSans-light.woff2") format('woff2'),
    url("../../../app/assets/fonts/productSans-light/productSans-light.woff") format('woff'),
    url("../../../app/assets/fonts/productSans-light/productSans-light.ttf") format('truetype'),
    url("../../../app/assets/fonts/productSans-light/productSans-light.svg") format('svg');
    font-weight:300;
}

// --------- ProductSans Regular -------------
@font-face{
    font-family:"productSans";
    src:url("../../../app/assets/fonts/productSans-regular/productSans-regular.eot");
    src:url("../../../app/assets/fonts/productSans-regular/productSans-regular.woff2") format('woff2'),
    url("../../../app/assets/fonts/productSans-regular/productSans-regular.woff") format('woff'),
    url("../../../app/assets/fonts/productSans-regular/productSans-regular.ttf") format('truetype'),
    url("../../../app/assets/fonts/productSans-regular/productSans-regular.svg") format('svg');
    font-weight:400;
}

// --------- ProductSans Medium -------------
@font-face{
    font-family:"productSans-medium";
    src:url("../../../app/assets/fonts/productSans-medium/productSans-medium.eot");
    src:url("../../../app/assets/fonts/productSans-medium/productSans-medium.woff2") format('woff2'),
    url("../../../app/assets/fonts/productSans-medium/productSans-medium.woff") format('woff'),
    url("../../../app/assets/fonts/productSans-medium/productSans-medium.ttf") format('truetype'),
    url("../../../app/assets/fonts/productSans-medium/productSans-medium.svg") format('svg');
    font-weight:500;
}


$ff-regular:"productSans", sans-serif;
$ff-light:"productSans-light", sans-serif;
$ff-medium:"productSans-medium", sans-serif;