@use "sass:math";

$browser-context:16;
// ======== convert pixel to rem ==============
@function rem($pixels, $context:$browser-context){
    $result:math.div($pixels, $context) * 1rem;
    @return $result;
}

@function em($pixels, $context:$browser-context){
    $result:math.div($pixels, $context) * 1em;
    @return $result;
}


